div#container1 {
    text-align: center;
}

div#container2 {
    padding:20px;
}

h1 {
    font-size:45px;
}

h2 {
    font-size:25px;
}

p {
    font-size:15px;
}

p#underline {

    border: 2px solid red;
} 